<div class="article">
  <div class="article-body">
    <div class="tweet-container">
      <div class="article-content">
        <div class="article-img-container">
          <img class="article-img" ng-src="{{ctrl.article.image}}" alt="">
        </div>

        <p class="article-header">
          <strong>{{ctrl.article.source}}</strong> - {{ctrl.article.title}}
        </p>
      </div>

      <div class="tweet-details">
        <svg ng-attr-id="{{ 'sentiment-chart-' + ctrl.i }}" class="sentiment-chart"></svg>
      </div>
    </div>

    <div class="similarity" ng-mouseenter="ctrl.showDetails()" ng-mouseleave="ctrl.hideDetails()">
      <i ng-show="!ctrl.article.similarity" class='fa fa-circle-o-notch fa-spin'></i>

      <uib-progress ng-show="ctrl.article.similarity" class="progress-striped">
        <uib-bar value="ctrl.article.similarity" type="success"></uib-bar>
        <uib-bar value="ctrl.article.dissimilarity" type="danger"></uib-bar>
      </uib-progress>
    </div>

    <div class="view">
      <div ng-if="ctrl.compareOpposing()" class="opposing">Another perspective?</div>
      <div ng-if="ctrl.compareSupporting()" class="supporting">Similar view</div>
    </div>
  </div>
</div>
